@use "../general/variable" as *;
@use "../general/mixins";

/* ---------------- Header ---------------- */
header {
  background-color: $beige;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  z-index: 100;

  .logo {
    width: 80px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }

  nav ul li a.item {
    text-decoration: none;
    font-family: $font-family;
    font-size: 1.2rem;
    color: $azul;
    position: relative;
    transition: color 0.3s ease;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 2px;
      background-color: $azul;
      transition: width 0.3s ease;
    }

    &:hover {
      color: darken ($azul, 10);
      &::after {
        width: 100%;
      }
    }
  }
}

/* ---------------- Footer ---------------- */
footer {
  background-color: $beige;
  text-align: center;
  padding: 20px 0;
  font-family: $font-family;
  color: $azul;
  font-size: 1.2rem;
  border-top: 1px solid lighten ($azul, 40);

}

/* ---------------- WhatsApp flotante ---------------- */
.wsp {
  @include mixins.tamanio(60px, auto);
  position: fixed;
  right: 20px;
  bottom: 20px;
}