@use "../general/variable" as *;
@use "../general/mixins";

/* ---------------- Media Queries ---------------- */

/* Mobile: hasta 480px */
@media (max-width: 480px) {

  /* Header */
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
  }

  .headerlogo img {
    width: 40px;    
    height: auto;
  }

  .headernav ul {
    flex-direction: column;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
  }

  .headernav ul li {
    margin: 5px 0;
  }

  /* Banner */
  .banner .textobanner {
    font-size: 1.2rem;
    text-align: center;
    padding: 0 10px;
  }

  /* Formulario de contacto */
  .contacto-form {
    padding: 20px;
    gap: 25px;

    form {
      gap: 25px;

      .form-group {
        padding: 20px;
      }

      button {
        width: 100%;
        align-self: stretch;
      }
    }
  }
}
