@use "variable" as *;
/* ---------------- Mixins ---------------- */

/* Mixin sin parámetros:*/
@mixin flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Mixin con parámetros:*/
@mixin tamanio($ancho, $alto) {
  width: $ancho;
  height: $alto;
}

/* Mixin con parámetros opcionales */
@mixin caja($bg-color: $beige, $padding: 10px) {
  background-color: $bg-color;
  padding: $padding;
}

