@use "../general/variable" as *;

/* ---------------- RESET GENERAL ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- ESTILOS BASE ---------------- */
body {
  font-family: $font-family;
  color: $azul;
  background-color: $blanco;
}

/* ---------------- TITULOS Y PÁRRAFOS ---------------- */
h1, h5, p {
  text-align: center;
  margin-top: 10px;
}

h1 {
  color: $rosa;
}

h5 {
  color: $azul;
}

p {
  color: $azul;
}

