@use "../general/variable" as *;

/* ---------------- General ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- Estilos ---------------- */
body {
  font-family: $font-family;
  color: $azul;
  background-color: $blanco;
}

/* ---------------- Titulos y parrafos ---------------- */
h1, h5, p {
  text-align: center;
  margin-top: 10px;
}

h1 {
  color: $rosa;
  margin-top: 15px;
}

h5 {
  color: $azul;
}

h3 {
  color: $rosa;
  text-align: center;
  margin-top: 20px;    
  margin-bottom: 0.5rem; 
}

p {
  color: $azul;
  margin-left: 2rem;  
  margin-right: 2rem; 
}

