/* ---------------- Paleta de colores ---------------- */
$beige: #edebe5;
$rosa: #ebaab0;
$azul: #275070;
$amarillo: #f4df92;
$blanco: #ffffff;
$negro: #000000;

/* ---------------- Tipografia ---------------- */
$font-family: Arial, Helvetica, sans-serif;
